NEXT_PUBLIC_APP_URL=https://technode-vps.vercel.app

# Vercel / Prisma Postgres
PRISMA_DATABASE_URL=postgres://8e65aae27542a541557962e3b88065b8d01a98b693d055998244c24494377264:sk_QLqt8VIf5kSYHPM1Pyeg7@db.prisma.io:5432/postgres?sslmode=require
POSTGRES_URL=postgres://8e65aae27542a541557962e3b88065b8d01a98b693d055998244c24494377264:sk_QLqt8VIf5kSYHPM1Pyeg7@db.prisma.io:5432/postgres?sslmode=require

ADMIN_USERNAME=TechnodeAdmin
ADMIN_PASSWORD=Technode@2708

ALERT_SMTP_HOST=smtp.hostinger.com
ALERT_SMTP_PORT=465
ALERT_SMTP_SECURE=true
ALERT_SMTP_USER=alert@technode.co.in
ALERT_SMTP_PASS=Technode@2708
ALERT_SMTP_FROM=alert@technode.co.in
